<!DOCTYPE html>
<html>
  <head>
    <title> CREATE PAGE </title>
    <link rel="stylesheet" type="text/css" href="../static/css/create.css">
  </head>

  <body>
    <div class="body-wrapper">
  <h1> Welcome to the create page. Create a new story here!!!</h1>

    <form action="/publish" method="post">
      <input type="text" name="title" placeholder="title" size="50" maxlength="50" value="{{ title }}" required class="title"><br>
      <textarea name="body" placeholder="body" maxlength="200" wrap="hard" required>{{ body }}</textarea><br><br>
      <input type="submit" name="submit" value="Publish Story" class="button">
    </form> <br>

    <form action="/home" method="post" >
        <input type="submit" name="submit" value="Return to Home Page" class="button">
        <br>

          <div class="error">
          {% if error %}
            ERROR: {{ error }}
          {% endif %}
          </div>
    </form>

    <br>


  </div>
  </body>
</html>
